@font-face {
  font-family: 'Junegull';
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/junegull.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'nunito';
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/nunito.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'cambria';
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/cambria.ttf") format("truetype");
  font-display: swap;
}

a, a:hover{
  color: black;
  text-decoration: none;
}


/* Button Component styles */

