/* common styles */
section{
    padding: 37px 35px 30px 25px;
}

h1{
    font: 800 38px serif; 
}

p{
    font:400 16px nunito;
    line-height: 21px;
    margin-top: 15px;
}

/* first section */
.h1s1{
    margin-top: 30px;
}

.p2{
    margin-top: 10px;
    padding-bottom: 50px;
}

.imgdiv1{
    width: 250px;
    padding: 10px;
    margin: auto;
}

.img1{
    /* object-fit:cover;
    object-position: 40% 20%; */
}

.img2{
    display: none;
}

/* InputtoOutput section */


.h1s2{
    margin-top: 13px;
}

.p2s2{
    margin: 10px 0 35px
}